.content{
    margin: 0px;
    font-family: Arial, Helvetica;
}
.navbar{
    display: flex;
    background-color:darkred;
    color: white;
    padding: 20px;
    justify-content: space-between;
}
.logo a{
    display: flex;
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu a{
    color: rgba(245, 245, 245, 0.749);
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
    font-weight: lighter;
}
.main{
    display: flex;
    flex-direction: row;
    background-color: rgb(133, 192, 182);
    width: auto;
    margin-top: 20px;
    height: 360px;
    justify-content: space-around;
}
.news{
    width: 65%;
}
.picture{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    width: 35%;
}
.news h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    color:rgb(58, 58, 58)
}
.news p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:rgb(68, 68, 68);
    margin-bottom: 10px;
}
.LatestNews{
    padding-left: 45%;
    margin: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
    color: rgb(58, 58, 58);
    background-color: white;
}
.extras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
.extras .extra{
    width: 300px;
    border: 1px solid gray;
    padding-bottom: 10px;
}
.extras .extra .text{
    padding: 0px 10px 0px 10px;
    color: rgb(55, 55, 55)
}
.extras .extra button{
    background-color:rgb(107, 14, 14);
    height: 35px;
    width: 100px;
    color: white;
    border: 0px;
    padding: 10px;
}
.extras .extra button a{
    text-decoration: none;
    color: white;
}
